{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row ml-1 mr-1">
        <img class="flower-gif-1 col-6 col-md-4" src="https://giffiles.alphacoders.com/853/85355.gif" alt="flower">
        <img class="logo col-6 col-md-4" src="https://i.etsystatic.com/isla/4d9a20/45114409/isla_500x500.45114409_f1c94p2y.jpg?version=0" alt="logo">
        <img class="flower-gif-2 col-4 d-none d-md-block" src="https://giffiles.alphacoders.com/853/85355.gif" alt="flower">
    </div>
{% endblock %} 