@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Barlow:wght@100&family=DM+Serif+Display&display=swap');

.barlow {
    font-family: 'Barlow', sans-serif!important;
}

.barlow-semi {
    font-family: 'Barlow Semi Condensec', sans-serif!important;
}

.dm-serif {
    font-family: 'DM Serif Display', serif!important;
}

.dance {
    font-family: 'Dancing Script', sans-serif!important;
}
/* Colors from One */
:root {
    --primary: #f8f9fa;
    --secondary: #222e3a;
    --tertiary: #38b6ff;
    --comp1: #eedbd6;
    --comp2: #c6c2b9;
    --comp3: #90acb0;
    --comp4: #38a294;
}

/* Colors from One */
:root {
    --primary1: #222e3a;
    --secondary1: #229dc8;
    --tertiary1: #239cb0;
    /* --comp1: #eedbd6;
    --comp2: #c6c2b9;
    --comp3: #90acb0;
    --comp4: #38a294; */
}

/* Blue Mountain Jewelry Pallete */
/* :root {
    --primary: #b5b1a5;
    --secondary: #2d9895;
    --tertiary: #254f63;
    --comp1: #b4b8b7;
    --comp2: #11759f;
    --comp3: #4b6f63;
    --comp4: #5d6162;
} */

/* :root {
    --primary: rgb(247, 108, 74);
    --secondary: #D002F2ff;
    --tertiary: #FAF86Aff;
    --comp1: #A1DE07ff;
    --comp2: #000000ff;
    --comp3: #FFFFFFff;
} */

body {
    background-color: var(--primary);
    /* background: var(--tertiary); */
    display: flex;
    flex-direction: column;
    font-family: 'DM Serif Display', serif;
    font-size: 1.2rem;
    /* min-height: 100vh; */
}

hr {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: .5px solid rgba(0,0,0,.4);
}

main {
    flex: 1;
}

.logo-font {
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 3.5rem;
}

.border-custom {
    border: #2079ad 5px ridge;
    background-color: aliceblue;
}

/* Buttons */

.btn {
    color: var(--primary)!important;
    background-color: var(--tertiary)!important;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    text-shadow: 0 0 3px rgba(0,0,0,.4);
}

.btn:hover {
    background-color: #006199!important;
    color: var(--primary)!important;
}

.update-link, .remove-link {
    background-color: aliceblue;
    padding: 0 5px;
    border: 2px solid var(--secondary);
    box-shadow: 0 0 2px var(--primary);
    font-family: cursive, sans-serif;
    font-size: larger;
}

/* Navbar */

header{
    background-color: #fffffe;
    border-bottom: 1px solid rgba(0,0,0,.4);
}

.navbar {
    background-color: #fffffe;
    padding: 5px;
}

.navbar-brand {
    padding: 0;
}

#logo-nav {
    height: 55px;
    margin-right: 10px;
    max-width: 25%;
}

#title {
    /* font-family: 'Barlow', sans-serif; */
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--tertiary);
    /* text-shadow: var(--secondary) 0px 0px 5px; */
    margin: auto;
}

.dropdown-menu {
    font-family: 'DM Serif Display';
    background: var(--tertiary);
    box-shadow: 5px 5px var(--secondary1);
}

.dropdown-item {
    color: var(--primary);
    font-size: 1.4rem;
}

.dropdown-item:hover {
    color: var(--tertiary);
    background-color: var(--primary);
}


.navbar-collapse {
    justify-content: flex-end;
}

.nav-link {
    font-family: 'Barlow', sans-serif;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    /* color: var(--comp1) !important; */
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.navbar-toggler {
    background: var(--tertiary);
}

.logo {
    height: 528px;
}

.flower-gif-2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*---------Back to top button

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

*/

.btt-link,
.update-link,
.remove-link {
    cursor: pointer;
}

/*---------Toasts*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-header {
    font-size: 1.4rem;
}

.toast-body {
    font-size: 1.3rem;
    letter-spacing: .2px;
    font-family: "Barlow";
    font-weight: bolder;
    overflow: auto;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*---------Footer*/

footer {
    color: var(--tertiary);
    background-color: #fffffe;
    border-top: 1px solid rgba(0,0,0,.4);
    padding-bottom: 0.5rem!important;
}

.contact-info {
    color: var(--tertiary);
    margin: 0;
    margin-top: 0.8rem;
    font-size: 1.8rem;
    font-family: 'DM Serif Display', sans-serif;
}

.contact-info a {
    color: #38b6ff;
}

.contact-info a:hover {
    text-decoration: underline;
}

.list-unstyled li {
    font-size: 1.2rem;
    /* text-shadow: 2px 2px var(--secondary); */
    letter-spacing: 1px;
}

#social {
    text-align: center;
}

#social-links {
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
}

.social-link {
    margin: auto;
    display: inline-block;
    padding: 0 10px;
}

/* Social Links styles & color change animation */

#social-links li a i {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.25em;
    text-align: center;
    color: var(--primary);
    background: var(--tertiary);
    box-shadow: 0 0 5px black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links li a i:hover {
    animation-name: social-links-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes social-links-zoom {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1.3) rotate(360deg);
    }
}

.no-bg {
    background-color: unset;
}

#lg-bag {
    color: rgba(0,0,0,.5);
}

#lg-bag:hover {
    color: rgba(0,0,0,.7);
}

#md-bag {
    color: rgba(0,0,0,.5);
    animation: glow 3s ease-in-out infinite;
}

#md-bag:hover {
    color: rgba(0,0,0,.7);
}

@keyframes glow {
    0% {
        text-shadow: none;
    }

    50% {
        text-shadow: rgba(0,0,0,.5) 0 0 2px;
    }

    100% {
        text-shadow: none;
    }
}

/*-------------------Flip Card*/

.flip-card-home {
    background-color: transparent;
    height: 50vh;
    perspective: 1000px;
}

.flip-card-inner-home {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-home:hover .flip-card-inner-home {
    transform: rotateY(180deg);
}

.flip-card-front-home,
.flip-card-back-home {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front-home {
    background-color: var(--tertiary);
    height: 100%;
    color: black;
}

.flip-card-front-home img{
    height: 100%;
}

.flip-card-back-home {
    background-color: var(--tertiary);
    color: white;
    height: 50vh;
    transform: rotateY(180deg);
    overflow: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.profile-icon:hover {
    text-decoration: none;
}

.hr {
    z-index: -9999;
}

#allauth-bg {
    background-color: aliceblue;
    margin: 2vh auto;
    text-align: center;
}

.allauth-form-inner-content h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3.5rem;
}

.allauth-form-inner-content button, .allauth-form-inner-content input[type='submit'] {
    color: initial;
    background-color: initial;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
}

.allauth-form-inner-content input {
    width: 30%;
    text-align: center;
    margin: 5px auto 0;
}

#id_remember {
    width: unset;
}

.allauth-form-inner-content button:hover, .allauth-form-inner-content input[type='submit']:hover {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

#back-shop{
    font-size: 1.4rem;
}

/*---------Media Queries*/

@media (max-width: 1385px) {
    #customer {
        font-size: 1.4rem;
    }
}

@media (min-width: 1215px) {

    #lg-bag,
    #lg-bag-no-ani {
        display: block !important;
    }

    #md-bag,
    #md-bag-no-ani {
        display: none !important;
    }
}

@media (max-width: 1100px) {
    #customer {
        font-size: 1.2rem;
    }
}

@media (max-width: 1064px) {
    #title {
        font-size: 2rem;
    }
}

@media (max-width: 1020px) {
    #profile-drop {
        left: -8vw;
    }
}

@media (max-width: 991px) {
    .contact-info {
        letter-spacing: 2px;
    }
}

@media (max-width: 767px) {
    .nav-link {
        text-align: end;
    }
    .nav-icon {
        margin: 10px 0;
        text-align: center!important;
    }
    #profile-drop {
        margin: 0 !important;
        width: 10%;
        float: right;
    }
    #profile-drop {
        min-width: 158px;
    }
}
@media (max-width: 768px) {

    #lg-bag,
    #lg-bag-no-ani {
        display: none!important;
    }

    #md-bag,
    #md-bag-no-ani {
        display: block !important;
    }
}

@media (max-width: 515px) {
    #logo-nav {
        display: none;
    }
}

@media (max-width: 360px) {
    #title {
        font-size: 1.6rem;
    }
}