@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --orange-crayola: rgb(247, 108, 74);
    --phlox: #D002F2ff;
    --sheen-green: #A1DE07ff;
    --icterine: #FAF86Aff;
    --black: #000000ff;
    --white: #FFFFFFff;
}

body{
    background: beige;
}

#title{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-top: 5px;
    color: var(--icterine);
    text-shadow: var(--phlox) 0px 0px 5px;
    margin: 0.5rem 0;
}

.navbar {
    background: var(--orange-crayola);
}

.dropdown-menu {
    background: #eccdfd;
    box-shadow: 5px 5px #a807f3;
}

.dropdown-item {
    color: #a807f3;
    text-shadow: #fbf86a 0px 0px 5px;
    font-size: 1.2rem;
}

#logo-nav {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-bottom: 7px;
}

.navbar-collapse{
    justify-content: flex-end;
}

.nav-link{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: beige!important;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.navbar-toggler {
    background: #fbf86a;;
}

.logo{
    padding: 0;
}

.flower-gif-2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*---------Back to top button

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

*/

.btt-link,
.update-link,
.remove-link {
    cursor: pointer;
}

/*---------Toasts*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*---------Footer*/

footer {
    color: var(--icterine);
    background-color: var(--orange-crayola);
    text-shadow: var(--phlox) 0px 0px 5px;
}

#footer-about {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#contact-info {
    color: #e7c8ac;
    text-shadow: var(--phlox) 0px 0px 5px;
    margin: 0;
    font-size: 3rem;
}

#about, #contact-box p {
    font-size: 1.7rem;
}

#contact-box p a {
    color: #e7c8ab;
    letter-spacing: 3px;
    text-shadow: var(--phlox) 0px 0px 5px;
}

.list-unstyled li {
    font-size: 1.2rem;
    text-shadow: 2px 2px var(--phlox);
    letter-spacing: 1px;
}

#social {
    text-align: center;
}

#social-links {
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;
}

.social-link {
    margin: auto;
}

/* Social Links styles & color change animation */

#social-links li a i {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 50%;
    font-size: 2.5em;
    text-align: center;
    color: var(--orange-crayola);
    text-shadow: var(--phlox) 0px 0px 2px;
    background: var(--icterine);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links li a i:hover {
    animation-name: social-links-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes social-links-zoom {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1.3) rotate(360deg);
    }
}

.no-bg {
    background-color: unset;
}

#md-bag{
    animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
    0% {
        text-shadow: none;
    }
    50% {
        text-shadow: white 0 0 5px;
    }
    100% {
        text-shadow: none;
    }
}

/*---------Media Queries*/

@media (max-width: 1385px) {
    #customer {
        font-size: 1.4rem;
    }
}

@media (min-width: 1103px) {
    #lg-bag, #lg-bag-no-ani {
        display: block!important;
    }
    #md-bag, #md-bag-no-ani {
        display: none!important;
    }
}

@media (max-width: 1100px) {
    #customer {
        font-size: 1.2rem;
    }
}

@media (max-width: 1025px) {
    #title {
        font-size: 2rem;
    }
}

@media (max-width: 792px) {
    #title {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    #lg-bag, #lg-bag-no-ani {
        display: none!important;
    }
    #md-bag, #md-bag-no-ani {
        display: block!important;
    }
}

@media (max-width: 510px) {
    #title {
        font-size: 1.6rem;
    }
}