/* Colors from One */
/* :root {
    --primary: #222e3a;
    --secondary: #229dc8;
    --tertiary: #239cb0;
    --comp1: #eedbd6;
    --comp2: #c6c2b9;
    --comp3: #90acb0;
    --comp4: #38a294;
} */

/* Blue Mountain Jewelry Pallete */
/* :root {
    --primary: #b5b1a5;
    --secondary: #2d9895;
    --tertiary: #254f63;
    --comp1: #b4b8b7;
    --comp2: #11759f;
    --comp3: #4b6f63;
    --comp4: #5d6162;
} */

/* :root {
    --primary: rgb(247, 108, 74);
    --secondary: #D002F2ff;
    --tertiary: #FAF86Aff;
    --comp1: #A1DE07ff;
    --comp2: #000000ff;
    --comp3: #FFFFFFff;
} */

/*-------------------Flip Card*/

.flip-card {
    background-color: transparent;
    height: 50vh;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    height: 100%;
    color: black;
}

.flip-card-front img{
    height: 100%;
}

.flip-card-back {
    background-color: hsl(183deg 47% 64%);
    color: white;
    height: 50vh;
    transform: rotateY(180deg);
    overflow: auto;
}

/*-------------------Flip Card*/

#shop-title {
    margin-top: 3vh !important;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    background-color: var(--tertiary);
    margin: auto;
}

#shop-text {
    color: #000000ff;
    font-size: 3.5rem;
}

hr {
    border-top: 4px solid var(--primary);
}

.item-image,
#item-image-info {
    height: 50vh !important;
}

.card-body {
    background-color: hsl(183deg 47% 64%);
}

.item-card-body {
    height: 50vh;
    font-size: x-large;
    letter-spacing: 1px;
    color: #f4f5db;
    text-shadow: 2px 2px rgb(41 48 231);
}

.item-card-body hr {
    border-top: 2px solid #2930e7;
}

/* .item-card-body p {
    padding-bottom: 10px;
} */

#item-details-container {
    margin-top: 15px;
    background-color: #faebd7a1;
}

#search-button {
    background: #fbc45e;
}

#shop-navbar {
    border-radius: 10px;
}

.shop-navbar-items{
    justify-content: unset;
}

.category, .details {
    color: whitesmoke;
}

.category:hover, .details:hover {
    text-shadow: 2px 2px whitesmoke;
    color: rgb(41 48 231);
}

#shop-title, #shop-navbar {
    margin-bottom: 10px;
}

/* footer {
    margin-top: 15px;
} */

/*---------Media Queries*/

@media (max-width: 992px) {
    #selector {
        padding-left: 0;
    }
    
}

@media (max-width: 991px) {
    #search-bar {
        flex: 0 0 60.333333%;
        max-width: unset;
    }
}