/* Colors from One */
/* :root {
    --primary: #222e3a;
    --secondary: #229dc8;
    --tertiary: #239cb0;
    --comp1: #eedbd6;
    --comp2: #c6c2b9;
    --comp3: #90acb0;
    --comp4: #38a294;
} */

/* Blue Mountain Jewelry Pallete */
/* :root {
    --primary: #b5b1a5;
    --secondary: #2d9895;
    --tertiary: #254f63;
    --comp1: #b4b8b7;
    --comp2: #11759f;
    --comp3: #4b6f63;
    --comp4: #5d6162;
} */

/* :root {
    --primary: rgb(247, 108, 74);
    --secondary: #D002F2ff;
    --tertiary: #FAF86Aff;
    --comp1: #A1DE07ff;
    --comp2: #000000ff;
    --comp3: #FFFFFFff;
} */

/*-------------------Flip Card*/

.flip-card {
    background-color: transparent;
    height: 50vh;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    height: 100%;
    color: black;
}

.flip-card-front img{
    height: 100%;
}

.flip-card-back {
    background-color: aliceblue;
    color: white;
    height: 50vh;
    transform: rotateY(180deg);
    overflow: auto;
}

/*-------------------Flip Card*/

#shop-title {
    margin-top: 3vh !important;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    background-color: var(--tertiary);
    margin: auto;
}

#shop-text {
    color: #000000ff;
    font-size: 3.5rem;
}

hr {
    border-top: 4px solid var(--secondary);
}

.item-image,
#item-image-info {
    height: 50vh !important;
}

.item-card-body {
    height: 50vh;
    font-size: x-large;
    letter-spacing: 1px;
    color: var(--secondary);
    text-shadow: 2px 2px #dddedf;
}

.item-card-body hr {
    border-top: 2px solid var(--tertiary);
}

#item-details-container {
    width: 90%;
    margin: 15px auto;
    background-color: var(--comp3);
}

.increment-qty, .decrement-qty {
    color: var(--primary);
    background-color: var(--tertiary);
    font-size: 1rem;
}

.increment-qty:hover, .decrement-qty:hover {
    background-color: #006199;
    color: var(--primary);
    /* font-size: 1rem; */
}

#search-bar {
    height: auto;
    font-size: 1.4rem;
}

#sort-selector {
    height: 5vh;
    padding: 17px;
}

#search-button {
    background: var(--secondary);
}

#search-button span i {
    color: aliceblue;
}

#shop-navbar {
    border-radius: 10px;
    background-color: var(--secondary);
}

.shop-navbar-items{
    justify-content: unset;
}

.shop-nav-item{
    color: var(--primary)!important;
}

.shop-nav-item:hover{
    color: var(--primary)!important;
}

.nav-hyphen {
    color: aliceblue;
    margin: auto;
    font-weight: bolder;
}

.category, .details {
    color: var(--secondary);
    text-shadow: 2px 2px #dddedf;
}

.category:hover, .details:hover {
    color: var(--secondary);
    text-decoration: underline;
}

#price {
    text-shadow: 2px 2px #dddedf;
}

#shop-title, #shop-navbar {
    margin-bottom: 10px;
}

#qty-shop {
    margin-top: 3px;
    background: var(--tertiary);
    color: var(--primary);
}

.product-size {
    margin: 3px auto 0;
    text-align: center;
    width: 80%;
    background: var(--tertiary);
    color: var(--primary);
}

.no-size {
    width: 75%;
    margin: 0 auto 10px;
}

#add-basket{
    background-color: var(--tertiary);
    color: var(--primary);
}

#add-basket:hover{
    background-color: #006199;
}

#sort-selector {
    
}

#sort-selector option {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    margin-right: 10px;
    padding-right: 10px;
}

/* footer {
    margin-top: 15px;
} */

/*---------Media Queries*/

@media (max-width: 992px) {
    #selector {
        padding-left: 0;
    }
    
}

@media (max-width: 991px) {
    #search-bar {
        flex: 0 0 60.333333%;
        max-width: unset;
    }
}