{% extends "base.html" %}
{% load static %}

{% block extra_title %}- About{% endblock %}

{% block about %}active{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'about/js/about.js' %}"></script>   
{% endblock %}

{% block content %}
    <div class="container-about container">
        <div class="row">
            <div id="about-box" class="col-12 col-lg-6 text-center">
                <h1 id="about" class="logo-font text-shadow mt-2">About Us</h1>
                <hr class="w-75 mt-3">
            </div>
        </div>
        <div class="text-center mt-3 mt-md-5 align-items-center">
            <div class="row">                
                <div class="col-12 col-lg-6 mb-3 text-boxes">
                    <p class="about-text text-center my-4">
                        I am an actress turned self-taught resin jewellery artist. I create unique, 
                        dainty and customisable jewellery items such as pendants, earrings and bracelets. 
                        I am inspired by the natural beauty and bright colours of flowers and the desire to 
                        preserve this beauty beyond its natural life span. 
                    </p>
                </div>
            </div>
            <div class="row">                
                <div class="col-12 col-lg-6 offset-lg-6 mb-3 text-boxes">
                    <p class="about-text text-center my-4">
                        I use epoxy resin and flowers, hand pressed my me, in my designs, resulting in timeless and delicate pieces, 
                        each as unique as the flower used to create it. I use the highest grade sterling silver stamped with the 925 
                        hallmark in my jewellery, resulting in high end, fashionable, hypoallergenic and durable items. 
                        Most pieces are created in single exemplars and provide a welcome alternative to the world of mass 
                        produced jewellery available on the high street. 
                    </p>
                </div>
            </div>
            <div class="row">                
                <div class="col-12 col-lg-6 mb-3 text-boxes">
                    <p class="about-text text-center my-4">
                        Each item is customisable and can be made to order, 
                        the customer can choose the colour, the shape and the texture of the jewellery item you require. 
                        They come individually gift wrapped, with a personalised note and would make an ideal gift for a 
                        family member or that special someone in your life.
                    </p>
                </div>
            </div> 
        </div>
    </div>
{% endblock %} 