#basket-container {
    background-color: aliceblue;
    margin: 2vh auto;
}

#free-delivery{
    border: 3px solid var(--primary);
    background: aliceblue;
    margin: auto;
    width: 60%;
    float: right;
    text-align: center;
    font-family: cursive;
    font-size: larger;
}

.logo-font {
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 3.5rem;
}

#empty-basket {
    font-family: 'DM Serif Display', serif!important;
    font-size: 1.5rem;
    text-align: center;
}